.article{
    border-left: 3px solid rgb(58, 112, 135);
    box-sizing: border-box;
    padding: 8px 10px;
    margin: 8px 0px 16px 0px;
}

.article .title{
    margin: 0px;
}

.article:hover{
    border-color: #0695d2;
    transition-duration: 1000ms;
    transition-property: border-color;
}

.article .header{
    margin: 10px 0px;
    position: relative;
}

.article .header p{
    margin: 3px 5px 3px 0px;
    color: rgb(129, 129, 129);
    display: inline-block;
}

.article .candy-header{
    align-self: center;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: fit-content;
    flex-shrink: 0;
    margin: 5px 3px;
    padding: 0px;
}

.article .candy-header span{
    display: inline-block;
    font-size: 12px!important;
    padding: 3px 7px;
}

.article .candy-header span:nth-child(1){
    background-color: #626262;
    border-radius: 5px 0px 0px 5px;
}

.article .candy-header span.single{
    border-radius: 5px 5px 5px 5px;
}

.article .candy-header span:nth-child(2){
    background-color: #0391e0;
    border-radius: 0px 5px 5px 0px;
}

.article .candy-header span.orange{
    background-color: #ff7a00;
}

.article .candy-header span.red{
    background-color: #c92d2d;
}

.article .candy-header span.green{
    background-color: #36b349;
}

.article .candy-header span.cyan{
    background-color: #02b79e;
}

.article .content{
    font-size: inherit;
    line-height: 30px;
}

.article h1{
    font-size: 28px!important;
    color: #0391e0!important;
    border-bottom: 0px!important;
}

.article .draftIcon{
    background-color: transparent;
    border: 2px solid #fb3e3e;
    border-radius: 5px;
    color: #fb3e3e;
    display: inline-block;
    font-size: 0.8em;
    height: fit-content;
    margin-right: 5px;
    padding: 3px 8px;
    vertical-align: text-bottom;
}

#article-parent .content img{
    max-width: 500px;
    width: 100%;
}

@media screen and (max-width: 700px){
    .article .candy-header span{
        font-size: 11px!important;
        padding: 3px 5px;
    }
    .article .candy-header{
        margin: 2px 2px;
    }
}
