#main-for-index{
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 1200px;
    padding: 10px;
    width: 100%;
}

#main-for-index table{
    margin: 0px auto;
    margin-top: 15px;
    max-width: 1200px;
    width: 100%;
}

#main-for-index table td{
    padding: 20px 15px;
    width: 50%;
}

#main-for-index table td img{
    max-width: 250px;
    width: 100%;
}

#main-for-index table td p, li{
    box-sizing: border-box;
    color: #5A5A5A;
    font-size: 16px;
    line-height: 40px;
    margin: 0px auto;
    padding: 0px 10px;
    text-align: justify;
    width: 100%;
}

#main-for-index table td p::before{
    content:"　　";
}

#main-for-index table td p a{
    color: #039191;
}

#main-for-index table td p a:hover{
    color: #7F7F7F;
}

@media screen and (max-width: 800px){
    #main-for-index table tr{
        display: block;
        width: 100%;
    }

    #main-for-index table td{
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin: 0px;
        padding: 0px 10px;
    }

    #main-for-index table td: last-child{
        margin-bottom: 15px;
    }
    #main-for-index table td p, #main-for-index table td li{
        font-size: 15px!important;
        line-height: 30px;
    }
}

/*----------------------------------------------banner----------------------------------------------*/
#banner{
    background-attachment: fixed;
    background-image: linear-gradient(108deg, #0088a7, #a92486);
    background-position: center top;
    box-sizing: border-box;
    flex-direction: row;
    height: auto;
    margin: 0px auto;
    padding: 100px 0px;
    width: 100%;
}

#banner h1{
    margin: 0px auto;
    text-align: center;
    color: #fff;
    border: 0px;
    font-size: 33px;
    -webkit-filter: drop-shadow(8px 8px 5px #303050);
    filter: drop-shadow(8px 8px 5px #303050);
}

#banner h2{
    margin: 0px auto;
    text-align: center;
    color: #d7d8e9;
    border: 0px;
    font-szie: 18px;
    -webkit-filter: drop-shadow(8px 8px 5px #303050);
    filter: drop-shadow(8px 8px 5px #303050);
}

#banner #flex-parent{
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 900px;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

#banner #flex-parent .flex{
    border: 1px #fff solid;
    border-radius: 15px;
    display: inline-flex;
    flex-basis: 20%;
    padding: 20px;
    text-align: center;
    width: auto;
    -webkit-filter: drop-shadow(8px 8px 5px #303050);
    filter: drop-shadow(8px 8px 5px #303050);
}

#banner #flex-parent p{
    color: #fff;
    display: block;
    line-height: 30px;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

#banner #flex-parent img{
    display: block;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 15px;
}

.banner-less-900px, .banner-less-450px{
    display: none;
}

@media screen and (max-width: 900px){
    #banner #flex-parent p{
        font-size: 15px;
    }

    #banner h1{
        font-size: 30px;
    }

    #banner h2{
        font-size: 18px;
    }

    #banner #flex-parent .flex{
        padding: 10px 5px;
        flex-basis: 30%;
    }

    #banner #flex-parent img{
        max-width: 90px;
    }
}

@media screen and (max-width: 600px){
    .banner-over-900px{
        display: none;
    }

    .banner-less-900px{
        display: block;
    }

    #banner{
        padding: 50px 0px;
    }

    #banner #flex-parent{
        margin-top: 20px;
    }

    #banner #flex-parent .flex{
        border-width: 0px;
    }

    #banner #flex-parent img{
        max-width: 50px;
    }
}

@media screen and (max-width: 450px){
    .banner-less-450px{
        display: block;
    }

    #banner h2{
        display: none;
    }
}
