section{
    box-sizing: border-box;
    margin: 0px auto;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

input{
    border: 1px solid #343434;
    border-radius: 8px;
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
}

input[type="text"], input[type="password"]{
    background-color: transparent;
    letter-spacing: 2px;
    padding: 0px 10px;
}

input[type="button"]{
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 10px;
}

button:focus, input:focus, select:focus{
    outline: none;
}

select{
    background-color: transparent;
    border-width: 0px 0px 2px;
    border-color: transparent transparent #343434;
    border-radius: 0px;
    box-sizing: border-box;
    color: inherit;
    display: block;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
}

button{
    background-color: transparent;
    border: 1px solid #343434;
    border-radius: 8px;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 30px;
    max-width: 100px;
    width: 100%;
}

button.border{
    border-color: #343434;
    background-color: transparent;
    color: #343434;
}

button.border:hover{
    background-color: #343434;
}

button.blue{
    border-color: #14a1ff;
    background-color: #14a1ff;
    color: #fff;
}

button.blue:hover{
    border-color: #307eb3;
    background-color: #307eb3;
    color: #fff;
}

button.red{
    border-color: #fe6c6c;
    background-color: #fe6c6c;
    color: #fff;
}

button.red:hover{
    border-color: #f01d1d;
    background-color: #f01d1d;
    color: #fff;
}

button.blue-green{
    border-color: #11d2cd;
    background-color: #11d2cd;
    color: #fff;
}

button.blue-green:hover{
    border-color: #347e7c;
    background-color: #347e7c;
    color: #fff;
}

input[type="button"]:hover, button:hover{
    background-color: #343434;
    border-color: #343434;
    color: #fff;
    transition-duration: 500ms;
    transition-property: background-color, color, border-color;
}
