/*
    Hadname Online Techonology

    RWD support

    PC:
    _____________________________________________
    |                                           |
    |                                           |
    |<---------------- 1200 px ---------------->|
    |                                           |
    |                                           |
    |                                           |
    |                                           |

    Mobile: 450px
    __________________
    |                |
    |<--- 450 px --->|
    |                |
    |                |
    |                |
    |                |
    |                |
*/

@font-face{
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: normal;
    src: local("NotoSans")，
         url('/assets/fonts/NotoSans-Regular') format("woff"),
}

@font-face{
    font-family: 'Noto Sans CJK TC';
    font-style: normal;
    font-weight: normal;
    src: local("Noto Sans CJK TC")，
         url('/assets/fonts/NotoSansTC-Regular') format("woff"),
}

*{
    font-family: 'NotoSans', 'Noto Sans CJK TC', '微軟正黑體', 'Open Sans' ,sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    color: #5a5a5a;
    height: 100%;
    padding: 0px;
    padding-top: 80px;
    margin: 0px;
}

.err{
    color: rgb(255, 78, 78);
    font-size: 1.2em;
}

#notice{
    background-color: #000;
    border: 1px #fff solid;
    border-radius: 5px;
    bottom: 10px;
    color: #fff;
    display: none;
    font: 15px;
    left: 10px;
    line-height: 30px;
    padding: 5px 10px;
    position: fixed;
    width: auto;
    z-index: 13;
}

blockquote{
    border-left: 3px solid #0391e0;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 10px auto;
}

.loader{
    animation: spin 400ms cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    border: 3px solid transparent;
    border-top: 3px solid #02c5ff;
    border-radius: 50%;
    margin: 0px auto;
    width: 30px;
    height: 30px;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/*-----------------------------------------------main-----------------------------------------------*/
#main{
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 1200px;
    padding: 10px;
    width: 100%;
}

h1{
    color: #0391e0;
    margin: 10px 0px;
    font-size: 30px;
    width: fit-content;
}

#main h1:after{
    border-bottom: 2px solid rgb(23,76,111);
    content: "";
    display: block;
    padding-top: 10px;
    width: 62%;
}

#main h1:hover:after{
    width: 100%;
    transition: width 700ms;
}

h2{
    font-size: 23px;
    color: rgb(11, 71, 111);
    font-weight: normal;
}

h3{
    font-size: 20px;
    color: rgb(93, 99, 125);
    font-weight: normal;
}

#main a{
    text-decoration: none;
    color: rgb(20, 86, 173);
    word-break: break-all;
}

#main a:hover{
    color: rgb(32, 142, 149);
    transition: color 500ms;
}

/*CkEditor*/
.marker{
	background-color: Yellow;
}

/*----------------------------------------------footer----------------------------------------------*/
footer{
    background-color: rgb(65, 65, 65);
    color: #fff;
    display: block;
    font-size: 15px;
    margin: 15px auto 0px;
    padding: 25px 0px 15px 0px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: rgb(64, 220, 255);
}

footer a:hover{
    color: rgb(176, 223, 246);
    transition-duration: 500ms;
    transition-property: color;
}

footer li{
    color: inherit;
    display: block;
    font-size: 1em;
    line-height: 20px;
    list-style-type: none;
    margin: 0px;
    text-align: left;
    padding: 3px 0px;
}

footer table{
    margin: 0px auto;
    max-width: 900px;
    width: 100%;
}

footer table td{
    display: table-cell;
    padding: 20px 15px;
    text-align: left;
    vertical-align: super;
    width: 50%;
}

footer table td img{
    max-width: 250px;
    width: 100%;
}

@media screen and (max-width:  450px){
    footer li, footer p, footer a{
        font-size: 13px;
    }

    h1{
        font-size: 25px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 18px;
    }

    *{
        font-size: 14px;
    }
}
