@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: normal;
  src: local("NotoSans")， url('/assets/fonts/NotoSans-Regular') format("woff"),
}

@font-face {
  font-family: 'Noto Sans CJK TC';
  font-style: normal;
  font-weight: normal;
  src: local("Noto Sans CJK TC")， url('/assets/fonts/NotoSansTC-Regular') format("woff"),
}

* {
  font-family: 'NotoSans', 'Noto Sans CJK TC', '微軟正黑體', 'Open Sans', sans-serif;
  font-size: 16px;
}

:root {
  --deep-blue: #0b476f;
  --blue: #0391e0;
  --light-blue: #40dcff;
  --gray-blue: #898f92;
  --blue-green: #208e95;
}

:focus {
  outline: none;
}

body {
  background-color: #f0f0f0;
  box-sizing: border-box;
  color: #5a5a5a;
  height: 100%;
  padding: 0px;
  padding-top: 80px;
  margin: 0px;
}

#notice {
  background-color: #000;
  border-radius: 5px;
  box-shadow: 3px 3px 8px #2b2b2b;
  bottom: -50px;
  color: #fff;
  display: block;
  font-size: 1rem;
  left: 50%;
  line-height: 30px;
  opacity: 0;
  padding: 5px 10px;
  position: fixed;
  transition: bottom 500ms, opacity 500ms;
  transform: translate(-50%);
  width: auto;
  min-width: 50%;
  z-index: 13;
}

#notice.show {
  bottom: 10px;
  opacity: 1;
  transition: bottom 500ms, opacity 500ms;
}

blockquote {
  border-left: 3px solid var(--deep-blue);
  box-sizing: border-box;
  padding: 10px;
  margin: 10px auto;
  transition: border-color 500ms;
}

blockquote:hover {
  border-color: var(--blue);
}

ul {
  margin: 5px 0px 5px 10px;
  padding: 0px 0px 0px 20px;
}

li {
  padding: 3px 0px;
}

.loader {
  animation: spin 400ms cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  border: 3px solid transparent;
  border-top: 3px solid var(--light-blue);
  border-radius: 50%;
  margin: 0px auto;
  width: 30px;
  height: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.material-icons {
  vertical-align: middle;
  font-size: 1em;
}

a {
  color: var(--deep-blue);
  text-decoration: none;
}

a:hover {
  color: var(--blue-green);
  transition: color 500ms;
}

/*-----------------------------------------------main-----------------------------------------------*/

#main {
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 1200px;
  padding: 10px;
  width: 100%;
}

h1 {
  color: var(--blue);
  margin: 10px 0px;
  font-size: 30px;
  width: fit-content;
}

/*
#main h1:after{
  border-bottom: 3px solid rgb(23,76,111);
  content: "";
  display: block;
  padding-top: 10px;
  transition: width 1800ms;
  width: 0%;
}

#main h1:hover:after{
  transition: width 600ms;
  width: 100%;
}
*/

h2 {
  color: rgb(11, 71, 111);
  font-size: 23px;
  font-weight: normal;
}

h3 {
  color: rgb(93, 99, 125);
  font-size: 20px;
  font-weight: normal;
}

/*CkEditor*/

.marker {
  background-color: #ffff00;
}

table {
  border-radius: 5px;
  border-collapse: collapse;
  margin: 0px auto;
  max-width: 800px;
  width: 100%;
}

table thead, table tbody {
  border-width: 0px 1px;
  border-style: solid;
  border-color: var(--gray);
}

tr {
  border-width: 1px 0px 0px;
  border-style: solid;
  border-color: var(--gray);
}

table td, table th {
  padding: 10px 15px;
}

table tr:last-child {
  border-bottom-width: 1px;
}

table tbody tr:hover {
  background-color: #c4c4c4;
}

table.customize {
  max-width: none;
}

/*----------------------------------------------footer----------------------------------------------*/

footer {
  background-color: rgb(65, 65, 65);
  color: #fff;
  display: block;
  font-size: 15px;
  margin: 15px auto 0px;
  padding: 25px 0px 15px 0px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--light-blue);
  transition: color 500ms;
}

footer a:hover {
  color: #b0dff6;
}

footer li {
  color: inherit;
  display: block;
  font-size: 1em;
  line-height: 20px;
  list-style-type: none;
  margin: 0px;
  text-align: left;
  padding: 3px 0px;
}

footer table {
  border: 0px;
  margin: 0px auto;
  max-width: 900px;
  width: 100%;
}

footer table tr:last-child, footer table tr, footer table tr:hover {
  border: 0px;
  background-color: transparent;
}

footer table tbody {
  border: 0px;
}

footer table td {
  display: table-cell;
  padding: 20px 15px;
  text-align: left;
  vertical-align: super;
  width: 50%;
}

footer table td img {
  max-width: 250px;
  width: 100%;
}

@media screen and (max-width: 450px) {
  footer li, footer p, footer a {
    font-size: 13px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  * {
    font-size: 14px;
  }
}

/*----------------------------------------------form----------------------------------------------*/

section {
  box-sizing: border-box;
  margin: 0px auto;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 500px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

input {
  border: 1px solid #343434;
  border-radius: 8px;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-size: 15px;
  height: 35px;
  line-height: 35px;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  width: 100%;
}

input[type="text"], input[type="password"] {
  background-color: transparent;
  letter-spacing: 2px;
  padding: 0px 10px;
}

input[type="button"] {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 10px;
}

select {
  background-color: transparent;
  border-width: 0px 0px 2px;
  border-color: transparent transparent #343434;
  border-radius: 0px;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  margin: 0px 10px;
  max-width: 300px;
  width: 100%;
}

button {
  background-color: transparent;
  border: 1px solid #343434;
  border-radius: 8px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: 15px;
  line-height: 30px;
  max-width: 100px;
  width: 100%;
}

button.border {
  border-color: #343434;
  background-color: transparent;
  color: #343434;
}

button.border:hover {
  background-color: #343434;
}

button.blue {
  border-color: #14a1ff;
  background-color: #14a1ff;
  color: #fff;
}

button.blue:hover {
  border-color: #307eb3;
  background-color: #307eb3;
  color: #fff;
}

button.red {
  border-color: #fe6c6c;
  background-color: #fe6c6c;
  color: #fff;
}

button.red:hover {
  border-color: #f01d1d;
  background-color: #f01d1d;
  color: #fff;
}

button.blue-green {
  border-color: #11d2cd;
  background-color: #11d2cd;
  color: #fff;
}

button.blue-green:hover {
  border-color: #347e7c;
  background-color: #347e7c;
  color: #fff;
}

button.black {
  border-color: #333;
  background-color: #333;
  color: #fff;
}

button.black:hover {
  border-color: #505050;
  background-color: #505050;
  color: #fff;
}

input[type="button"]:hover, button:hover {
  background-color: #343434;
  border-color: #343434;
  color: #fff;
  transition: background-color 500ms, color 500ms, border-color 500ms;
}

/*----------------------------------------------article----------------------------------------------*/

.article {
  border-left: 3px solid var(--deep-blue);
  box-sizing: border-box;
  padding: 8px 10px;
  margin: 8px 0px 16px 0px;
  transition: border-color 1000ms;
}

.article:hover {
  border-color: var(--blue);
  transition: border-color 1000ms;
}

.article .title {
  margin: 0px;
}

.article .header {
  margin: 10px 0px;
  position: relative;
}

.article .header p {
  margin: 3px 5px 3px 0px;
  color: rgb(129, 129, 129);
  display: inline-block;
}

.candy-header {
  align-self: center;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: fit-content;
  flex-shrink: 0;
  margin: 5px 3px;
  padding: 0px;
}

.candy-header span {
  display: inline-block;
  font-size: 12px!important;
  padding: 3px 7px;
}

.candy-header span:nth-child(1) {
  background-color: #626262;
  border-radius: 5px 0px 0px 5px;
}

.candy-header span.single {
  border-radius: 5px 5px 5px 5px;
}

.candy-header span:nth-child(2) {
  background-color: var(--blue);
  border-radius: 0px 5px 5px 0px;
}

.candy-header span.orange {
  background-color: #ff7a00;
}

.candy-header span.red {
  background-color: #c92d2d;
}

.candy-header span.green {
  background-color: #36b349;
}

.candy-header span.cyan {
  background-color: #02b79e;
}

.article .content {
  font-size: inherit;
  line-height: 30px;
}

.article h1 {
  border-bottom: 0px!important;
  color: var(--blue)!important;
  font-size: 28px!important;
}

.article .draftIcon {
  background-color: transparent;
  border: 2px solid #fb3e3e;
  border-radius: 5px;
  color: #fb3e3e;
  display: inline-block;
  font-size: 0.8em;
  height: fit-content;
  margin-right: 5px;
  padding: 3px 8px;
  vertical-align: text-bottom;
}

#article-parent .content img {
  max-width: 500px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .article .candy-header span {
    font-size: 11px!important;
    padding: 3px 5px;
  }
  .article .candy-header {
    margin: 2px 2px;
  }
}

/*------------------------------------------------nav------------------------------------------------*/

nav {
  background-color: rgba(255, 255, 255, .95);
  box-sizing: border-box;
  height: 80px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

nav #logo {
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
  padding: 10px 0px 10px 10px;
  z-index: 11;
}

nav #logo img {
  height: 100%;
  z-index: 12;
}

nav #logo-less-450px {
  display: none;
}

nav #logo-over-450px {
  display: block;
}

nav #fix-1200 {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1200px;
  width: 100%;
  z-index: 11;
}

nav #button-over-900px {
  box-sizing: border-box;
  float: right;
  height: 80px;
  padding: 25px 10px 25px 0px;
}

nav #button-less-900px {
  display: none;
  position: relative;
  user-select: none;
}

nav #button-less-900px a {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

nav #button-less-900px i {
  font-size: 35px;
}

nav #button-over-900px ul {
  margin: 0px;
  padding: 0px;
}

nav #button-over-900px ul li {
  /*--1F & 2F--*/
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

nav #button-over-900px>ul>li {
  /*--1F--*/
  display: inline-block;
  list-style-type: none;
  margin: 0px 5px;
  position: relative;
  width: auto;
}

nav #button-over-900px>ul>li>ul {
  border: 2px solid rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  display: none;
  left: 0px;
  position: absolute;
  top: 100%;
  width: 165px;
}

nav #button-over-900px>ul>li:last-child>ul {
  left: unset;
  right: 0px;
}

nav #button-over-900px>ul>li>ul>li {
  /*--2F--*/
  box-sizing: border-box;
  border-bottom: 1px dashed #b9b9b9;
  display: block;
  margin: 0px;
  width: 100%;
}

nav #button-over-900px>ul>li>ul>li:last-child {
  border: 0px;
}

nav #button-over-900px>ul li:hover ul {
  animation-name: flyUp;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  display: block;
}

nav #button-over-900px>ul>li>a {
  box-sizing: border-box;
  border-bottom: 2px solid #4e4e4e;
  color: #4e4e4e;
  display: block;
  font-size: 15px;
  height: 32px;
  line-height: 30px;
  padding: 0px 10px;
  text-decoration: none;
  width: auto;
}

nav #button-over-900px>ul>li>ul>li>a {
  color: #4e4e4e;
  display: block;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
  text-decoration: none;
  width: auto;
}

nav #button-over-900px>ul>li>a:hover {
  border-color: var(--blue);
  color: var(--blue);
  transition: border-color 500ms, color 500ms;
}

nav #button-over-900px>ul>li>a:hover>.arrow-down {
  border-color: var(--blue) transparent transparent transparent;
  transition: border-color 500ms;
}

nav #button-over-900px>ul>li>ul>li>a:hover {
  color: var(--blue);
  transition: color 500ms;
}

@media screen and (max-width: 900px) {
  nav #button-over-900px {
    box-sizing: border-box;
    height: 100%;
    left: -200px;
    margin: 0px;
    opacity: 0;
    padding: 0px 0px 80px 0px;
    position: fixed;
    top: 80px;
    transition: left 500ms, opacity 500ms;
    width: 100%;
    max-width: 200px;
  }
  nav #button-over-900px.show {
    left: 0px;
    opacity: 1;
    transition: left 500ms, opacity 500ms;
  }
  nav #button-over-900px>ul {
    /*--1F--*/
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, .95);
    display: block;
    height: 100%;
    overflow-y: auto;
  }
  nav #button-over-900px>ul li {
    display: block;
    margin: 0px 0px;
  }
  nav #button-over-900px>ul>li>ul {
    /*--2F--*/
    background: transparent;
    border: 0px;
    position: static;
    display: block;
    width: 100%;
  }
  nav #button-over-900px>ul li a {
    box-sizing: border-box;
    border: 0px;
    display: block;
    height: auto;
    margin: 0px;
    padding: 10px 20px 10px 20px;
    width: 100%;
  }
  nav #button-over-900px>ul>li>ul>li {
    border: 0px;
    background: transparent;
    width: 100%;
  }
  nav #button-over-900px>ul>li>ul>li>a {
    box-sizing: border-box;
    height: auto;
    margin: 0px;
    padding: 10px 20px 10px 40px;
    /*-- more right than 1F--*/
  }
  nav #button-over-900px>ul>li>a>.arrow-down {
    display: none;
  }
  nav #button-less-900px {
    display: block;
  }
  nav #button-over-900px a:hover {
    color: inherit!important;
  }
  nav #button-over-900px>ul>li>ul>li>a:hover {
    background-color: #4e4e4e;
    color: #fff!important;
    transition: unset!important;
  }
}

@media screen and (max-width: 450px) {
  body {
    padding-top: 50px
  }
  nav {
    height: 50px;
  }
  nav #fix-1200 {
    height: 50px;
  }
  nav #button-over-900px {
    top: 50px;
    padding: 0px 0px 50px 0px;
  }
  nav #logo {
    box-sizing: border-box;
    height: 50px;
  }
  nav #logo img {
    box-sizing: border-box;
    height: auto;
    margin: 0px auto;
  }
  nav #logo-less-450px {
    display: block;
  }
  nav #logo-over-450px {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  nav #button-over-900px a {
    height: 30px;
  }
}

@media screen and (max-height: 350px) {
  nav #button-over-900px a {
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@keyframes flyUp {
  0% {
    top: 200%;
  }
  100% {
    top: 100%;
  }
}

.arrow-down {
  border-color: #4e4e4e transparent transparent transparent;
  border-style: solid;
  border-width: 3px;
  display: inline-block;
  height: 0px;
  margin-left: 5px;
  width: 0px;
}

.calender-list {
  align-items: center;
  display: flex;
  width: 100%;
}

.calender-title {
  padding-left: 10px;
  flex-grow: 1;
}

.calender-title span, .calender-title span {
  font-size: 1.12rem!important;
}

.calender-tail i {
  cursor: pointer;
  font-size: 1.12rem;
  margin: 0px 3px;
  transition: color 500ms;
}

.calender-tail i:hover {
  color: #02b79e;
}

.calender-tail i.delete:hover {
  color: #fe6c6c;
}