/*-----------------------------------------------nav------------------------------------------------*/
/*
    PC: >900px
    _____________________________________________
    |                                           |
    |                                           |
    |<---------------- 1200 px ---------------->|
    |                                           |
    |                                           |
    |                                           |
    |                                           |

    Medium: 450~900px
    __________________________________
    |                                |
    |                                |
    |<----------- 900 px ----------->|
    |                                |
    |                                |
    |                                |
    |                                |

    Mobile: <450px
    __________________
    |                |
    |<--- 450 px --->|
    |                |
    |                |
    |                |
    |                |
    |                |
*/
nav{
    background-color: rgba(255, 255, 255, .95);
    box-sizing: border-box;
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

nav #logo{
    box-sizing: border-box;
    display: inline-block;
    height: 80px;
    padding: 10px 0px 10px 10px;
    z-index: 11;
}

nav #logo img{
    height: 100%;
    z-index: 12;
}

nav #logo-less-450px{
    display: none;
}

nav #logo-over-450px{
    display: block;
}

nav #fix-1200{
    margin: 0px auto;
    max-width: 1200px;
    width: 100%;
    z-index: 11;
}

nav #button-over-900px, nav #button-less-900px{
    box-sizing: border-box;
    float: right;
    height: 80px;
    padding: 25px 10px 25px 0px;
}

nav #button-less-900px{
    padding: 20px 10px 20px 0px;
}

nav #button-over-900px ul{
    margin: 0px;
    padding: 0px;
}

nav #button-over-900px ul li{       /*--1F & 2F--*/
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

nav #button-over-900px > ul > li{     /*--1F--*/
    display: inline-block;
    list-style-type: none;
    margin: 0px 5px;
    position: relative;
    width: auto;
}

nav #button-over-900px > ul > li > ul{
    border: 2px solid rgba(255, 255, 255, 0.95);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    display: none;
    left: 0px;
    position: absolute;
    top: 100%;
    width: 165px;
}

nav #button-over-900px > ul > li:last-child > ul{
    left: unset;
    right: 0px;
}

nav #button-over-900px > ul > li > ul > li{ /*--2F--*/
    box-sizing: border-box;
    border-bottom: 1px dashed #b9b9b9;
    display: block;
    marin: 0px;
    width: 100%;
}

nav #button-over-900px > ul > li > ul > li:last-child{
    border: 0px;
}

nav #button-over-900px > ul li:hover ul{
    animation-name: flyUp;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    display: block;
}

nav #button-over-900px > ul > li > a{
    box-sizing: border-box;
    border-bottom: 2px solid #4e4e4e;
    color: #4e4e4e;
    display: block;
    font-size: 15px;
    height: 32px;
    line-height: 30px;
    padding: 0px 10px;
    text-decoration: none;
    width: auto;
}

nav #button-over-900px > ul > li > ul > li > a{
    color: #4e4e4e;
    display: block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    text-decoration: none;
    width: auto;
}

nav #button-over-900px > ul > li > a:hover{
    border-color: #00a6ff;
    color: #00a6ff;
    transition: border-color 500ms, color 500ms;
}

nav #button-over-900px > ul > li > a:hover > .arrow-down{
    border-color: #00a6ff transparent transparent transparent;
    transition: border-color 500ms;
}

nav #button-over-900px > ul > li > ul > li > a:hover{
    color: #00a6ff;
    transition: color 500ms;
}

nav #button-less-900px{
    display: none;
}

nav #button-less-900px > a{
    border: 2px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    margin: 0px 5px;
    padding: 5px 5px;
    vertical-align: middle;
    width: auto;
}

nav #button-less-900px a img{
    height: 100%;
}

nav #button-less-900px > a:hover{
    filter: brightness(1.5);
}

@media screen and (max-width:  900px){
    nav #button-over-900px{
        box-sizing: border-box;
        display: none;
        height: 100%;
        left: 0px;
        margin: 0px;
        padding: 0px 0px 80px 0px;
        position: fixed;
        top: 80px;
        width: 100%;
        max-width: 200px;
    }

    nav #button-over-900px > ul{        /*--1F--*/
        box-sizing: content-box;
        background-color: rgba(255, 255, 255, .95);
        display: block;
        height: 100%;
        overflow-y: auto;
    }

    nav #button-over-900px > ul li{
        display: block;
        margin: 0px 0px;
    }

    nav #button-over-900px > ul > li > ul{ /*--2F--*/
        background: transparent;
        border: 0px;
        position: static;
        display: block;
        width: 100%;
    }

    nav #button-over-900px > ul li a{
        box-sizing: border-box;
        border: 0px;
        display: block;
        height: auto;
        margin: 0px;
        padding: 10px 20px 10px 20px;
        width: 100%;
    }

    nav #button-over-900px > ul > li > ul > li{
        border: 0px;
        background: transparent;
        width: 100%;
    }

    nav #button-over-900px > ul > li > ul > li > a{
        box-sizing: border-box;
        height: auto;
        margin: 0px;
        padding: 10px 20px 10px 40px;    /*-- more right than 1F--*/
    }

    nav #button-over-900px > ul > li > a > .arrow-down{
        display: none;
    }

    nav #button-less-900px{
        display: block;
    }

    nav #button-over-900px a:hover{
        color: inherit!important;
    }

    nav #button-over-900px > ul > li > ul > li > a:hover{
        background-color: #4e4e4e;
        color: #fff!important;
        transition: unset!important;
    }
}

@media screen and (max-width:  450px){
    body{
        padding-top: 50px
    }

    nav{
        height: 50px;
    }

    nav #fix-1200{
        height: 50px;
    }

    nav #button-over-900px{
        top: 50px;
        padding: 0px 0px 50px 0px;
    }

    nav #button-less-900px{
        height: 40px;
        padding-top: 5px;
    }

    nav #button-less-900px a{
        padding: 2px;
    }

    nav #logo{
        box-sizing: border-box;
        margin: 0px auto;
        height: 50px;
    }

    nav #logo img{
        box-sizing: border-box;
        height: auto;
        margin: 0px auto;
    }

    nav #logo-less-450px{
        display: block;
    }

    nav #logo-over-450px{
        display: none;
    }
}

@media screen and (max-height: 600px){
    nav #button-over-900px a{
        height: 30px;
    }
}

@media screen and (max-height:  350px){
    nav #button-over-900px a{
        height: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@keyframes flyUp{
    0%   {top: 200%;}
    100% {top: 100%;}
}

.arrow-down{
    border-color: #4e4e4e transparent transparent transparent;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    height: 0px;
    margin-left: 5px;
    width: 0px;
}
