<!DOCTYPE html>
<html lang="zh-tw" style="height: 100%;">
    <head>
        <title>{{.Title}}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" href="/assets/style/main.css?{{.Time}}">
        <link rel="stylesheet" href="/assets/style/nav.css?{{.Time}}">
        <link rel="stylesheet" href="/assets/style/form.css?{{.Time}}">
        <link rel="stylesheet" href="/assets/style/articles.css?{{.Time}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {{if .Isindex}}
        <link rel="stylesheet" type="text/css" href="/assets/style/forIndex.css?{{.Time}}">
        {{end}}
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js" type="text/javascript"></script>
        <script src="/assets/js/main.js?{{.Time}}" type="text/javascript"></script>
        <script src="/assets/js/article.js?{{.Time}}" type="text/javascript"></script>
    </head>
    <body>
        <div id="notice"></div>
        <nav>
            <div id="fix-1200">
                <div id="logo"><a href="/"><img id="logo-over-450px" src="/assets/img/logo.svg" style="height:100%;"><img id="logo-less-450px" src="/assets/img/favicon.ico" style="height:100%;"></a></div>
                <div id="button-less-900px">
                    <a href="javascript:void(0);"
                       onclick="slideToggole('button-over-900px')">
                       <img src="/assets/img/menu.png">
                    </a>
                </div>
                <div id="button-over-900px">
                    <ul>
                        <li><a href="/news">公告<span class="arrow-down"></span></a>
                            <ul>
                                <li><a href="/news?type=normal">一般消息</a></li>
                                <li><a href="/news?type=activity">演講 & 活動</a></li>
                                <li><a href="/news?type=course">課程 & 招生</a></li>
                                <li><a href="/news?type=scholarships">獎學金</a></li>
                                <li><a href="/news?type=recruit">徵才資訊</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">關於<span class="arrow-down"></span></a>
                            <ul>
                                <li><a href="/about/feature">特色</a></li>
                                <li><a href="/about/why-establish">創系緣由</a></li>
                                <li><a href="/about/enrollment">招生方式</a></li>
                                <li><a href="/about/future-development-direction">學生未來發展方向</a></li>
                                <li><a href="/about/education-goal-and-core-ability">教育目標及核心能力</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">成員<span class="arrow-down"></span></a>
                            <ul>
                                <li><a href="/member/class-teacher">班主任</a></li>
                                <li><a href="/member/faculty">師資陣容</a></li>
                                <li><a href="/member/admin-staff">行政人員</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">課程<span class="arrow-down"></span></a>
                            <ul>
                                <li><a href="/course">課程介紹</a></li>
                                <li><a href="/course/graduation-conditions">畢業條件</a></li>
                            </ul>
                        </li>
                    {{if .IsLogin}}
                        <li><a href="/manage">管理<span class="arrow-down"></span></a>
                            <ul>
                                <li><a href="/manage">歡迎</a></li>
                                <li><a href="/manage/article">文章管理</a></li>
                                <li><a href="/manage/reg">註冊新用戶</a></li>
                                <li><a href="/logout">登出</a></li>
                            </ul>
                        </li>
                    {{end}}
                    </ul>
                </div>
            </div>
        </nav>
        {{if .Isindex}}
            <div id="banner">
                <div class="banner-over-900px">
                    <h1>國立中興大學電機資訊學院學士班</h1>
                    <h2>Banchelor Program of Electrical Engineering and Computer Science</h2>
                    <div id="flex-parent">
                        <div class="flex">
                            <p><img src="/assets/img/money.svg"/>獎學金(入學 & 就業)<br/>入學：涵蓋大一到大四</p>
                        </div>
                        <div class="flex">
                            <p><img src="/assets/img/businessman.svg"/>產業實習<br/>大四寒暑假 ／ 學期制</p>
                        </div>
                        <div class="flex">
                            <p><img src="/assets/img/lab.svg"/>設置專業實驗室<br/>空間(約138坪)</p>
                        </div>
                    </div>
                </div>
                <div class="banner-less-900px">
                    <h1>國立中興大學</h1>
                    <h1>電機資訊學院學士班</h1>
                    <h1 class="banner-less-450px">BPEECS</h1>
                    <h2>Banchelor Program of Electrical Engineering</h2>
                    <h2>& Computer Science</h2>
                    <div id="flex-parent">
                        <div class="flex">
                            <p><img src="/assets/img/money.svg"/>獎學金</p>
                        </div>
                        <div class="flex">
                            <p><img src="/assets/img/businessman.svg"/>產業實習</p>
                        </div>
                        <div class="flex">
                            <p><img src="/assets/img/lab.svg"/>專業實驗室</p>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}

        {{if .Isindex}}
            <div id="main-for-index">
        {{else}}
            <div id="main">
        {{end}}
            {{.Main}}
            </div>

        <footer>
            <div>
                <table>
                    <tr>
                        <td>
                            <li><a target="_blank" href="https://www.nchu.edu.tw/">國立中興大學</a></li>
                            <li>National Chung Hsing University</li>
                            <li><a target="_blank" href="http://www.eecs.nchu.edu.tw/">電機資訊學院</a></li>
                            <li>College of Electrical Engineering and Computer Science</li>
                            <li><a target="_blank" href="http://www.ice.nchu.edu.tw/">通訊工程研究所</a></li>
                            <li>Graduate Institute of Communication Engineering</li>
                            <li><a target="_blank" href="http://www.ioe.nchu.edu.tw/">光電工程研究所</a></li>
                            <li>Graduate Institute of Optoelectronic Engineering</li>
                        </td>
                        <td>
                            <li><a target="_blank" href="http://www.cs.nchu.edu.tw/">資訊工程學系</a></li>
                            <li>Department of Computer Science and Engineering</li>
                            <li><a target="_blank" href="http://www.ee.nchu.edu.tw/">電機工程學系</a></li>
                            <li>Department of Electrical Engineering</li>
                            <li><a target="_blank" href="http://www.twisc.nchu.edu.tw/twisc@nchu/">資通安全研究與教學中心</a></li>
                            <li>Taiwan Information Security Center @ NCHU</li>
                        {{if .IsLogin}}
                            <li><a href="/logout">登出</a> | <a href="/login">開發人員</a></li>
                            <li>Log out | For developer</li>
                        {{else}}
                            <li><a href="/login">開發人員</a></li>
                            <li>For developer</li>
                        {{end}}
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <li>國立中興大學 National Chung Hsing University</li>
                            <li><i class="material-icons" style="vertical-align: middle; font-size: 1em;">map</i> <a href="https://goo.gl/maps/PVbB8YebuPfXP2qeA">402 台中市南區興大路 145 號 電機大樓 3 樓</a></li>
                            <li><i class="material-icons" style="vertical-align: middle; font-size: 1em;">map</i> <a href="https://goo.gl/maps/PVbB8YebuPfXP2qeA">125 Xinda Rd., South Dist., Taichung City 402</a></li>
                        </td>
                        <td>
                            <li><i class="material-icons" style="vertical-align: middle; font-size: 1em;">call</i> +886-4-22840120</li>
                            <li><i class="material-icons" style="vertical-align: middle; font-size: 1em;">print</i> +886-4-22854662</li>
                            <li><i class="material-icons" style="vertical-align: middle; font-size: 1em;">email</i> <a href="mailto:eecs@nchu.edu.tw">eecs@nchu.edu.tw</a></li>
                        </td>
                    </tr>
                </table>
                <center>
                    <p>© 2020 國立中興大學電資學士班 All rihgts reserved<p>
                    <p> ── NCHU Taiwan ❤︎ ──</p>
                </center>
            </div>
        </footer>
    </body>
</html>
